body {
	padding: 60px 100px 0 60px;
	font: 300 16px/22px Tahoma,Helvetica,Arial,'宋体',sans-serif;
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	border-left: 40px solid #b9cc3d;
	padding-left: 20px;
	margin-left: -60px;
	line-height: 40px;
	color: #337ab7;
	font-weight: bold;
}
.logo-img {
	border-radius: 6px;
}
.contact li {
	line-height: 30px;
}
.contact i,
.contact a {
	color: #989009;
	vertical-align: middle;
}
.contact i {
	font-size: 20px;
}
.contact a {
	margin-left: 6px;
}
.projects li:first-child {
	margin-top: 0;
}
.projects li {
	margin-top: 15px;
}
.projects a {
	color: #989009;
}
.blog li:first-child {
	margin-top: 0;
}
.blog li {
	margin-top: 15px;
}
.blog .title {
	margin-right: 12px;
	color: #337ab7;
	text-decoration: none;
}
.blog .title:hover {
	color: #337ab7;
	text-decoration: underline;
}
.blog .date {
	color: #ccc;
	font-size: 12px;
}
.blog .info {
	margin-top: 4px;
}
.blog-more {
	text-decoration: none;
	color: #989009;
	margin-top: 20px;
}
.blog-more:hover {
	text-decoration: underline;
}