/*
一级标题，也就是文章标题：h1表示
二级标题，h2表示，二级与三级之间不额外再留空白
三级标题，用ol class decimal 表示，三级之间不留太多空白
p 标签上 margin-bottom 20px
.text-indent 20px
pre margin 5px 0
*/
body {
	font: 400 16px/22px Tahoma,Helvetica,Arial,'宋体',sans-serif;
	color: #404040;
	-webkit-font-smoothing: antialiased;
}
.main {
	width: 960px;
	margin: 0 auto 100px;
}
ol.decimal li {
	list-style-type: decimal;
}
ol.decimal {
	margin-left: 20px;
}
ul.default li {
	list-style-type: none;
}
img {
	display: block;
	margin: 10px auto;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 22px;
	font-family: "open sans", sans-serif;
}
h1{
	font-size: 32px;
	letter-spacing: -2px;
	line-height: 90px;
}
h2 {
	line-height: 60px;
	font-size: 24px;
}
pre {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	padding: 8.5px;
	line-height: 18px;
	font-size: 12px;
	border-radius: 3px;
	white-space: pre-line;
	font-family: Monaco, Andale Mono, Courier New, monospace;
	margin: 5px 0;
}
p {
	margin-bottom: 20px;
}
.text-indent {
	text-indent: 20px;
}
.margin-left15 {
	margin-left: 15px;
}
.nav {
	color: #aaa;
	margin-bottom: 10px;
}
a {
	color: #3498db;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.img-inline {
	text-align: center;
}
.img-inline img {
	display: inline-block;
}
.clearfix:after {
	content: '';
	display: block;
	overflow: hidden;
	clear: both;
}